{% extends 'clapperboardApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block tituloPagina %}
Acerca de nosotros - CLAPPERBOARD
{% endblock %}

{% block contenidoPagina %}

<section class="bg-secondary py-5" style="color: #d5e691;">
    <div class="container px-5 ">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                <br>
                <p><h1 class="text-center"><b>Acerca de nosotros:</b></h1></p>
                <br>
                <p> Este proyecto lo ideamos para el trabajo final del curso de Python. Elegimos esta temática ya que nos apasiona 
                    el mundo del cine y las series. Teníamos que aplicar en este proyecto todo lo aprendido en clases.</p>
                <br>
                <br>
                <p><h2 class="text-center"><i class="bi bi-chat-dots"><b>¿Quiénes somos?</b></i></h2></p>
                <br>
                <h3 class="text-center"><i class="bi bi-skip-end"><strong>Jimena Degiorgi</strong></i></h3>
                <p class="text-center"> Tengo 30 años, soy de Río Tercero - Córdoba. Estudie gastronomía y pastelería, por un tiempo me dedique a trabajar por mi cuenta en ese ambito, como emprendedora.
                    Soy gammer desde siempre, y me gusta mucho la tecnología. Hace unos años intente estudiar Analista de Sistemas a distancia pero no me gusto la forma de enseñanza, así que decidí este año anotarme en el curso de Python, 
                    y me encanto la forma de enseñanza. </p>
                <br>
                <br>
                <h3 class="text-center"><i class="bi bi-skip-end"><strong>Ignacio Iraola</strong></i></h3>
                <p class="text-center">
                    
                </p>
                <br>
                <br>
                
            </div>
        </div>
    </div>
</section>

{% endblock %}