{% extends 'clapperboardApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block tituloPagina %}
Nueva Serie- CLAPPERBOARD
{% endblock %}


{% block contenidoPagina %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}""></script>

<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-6 justify-content">
            <div class="col-lg-6">
                <h3>Agregar una nueva Serie</h3>
                <div>
                    
                    {% for message in messages %}
                    <p class="alert alert-danger"> {{message}} </p>
                    {% endfor %}
                </div>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form | crispy }}
            
                    <!-- Button trigger modal -->
                    <div class="d-flex ">
                        <button type="button" class="btn btn-outline-danger mx-1 my-3 d-grid gap-2 col-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Guardar
                        </button>
                        <a href="{% url 'peliculas' %}" class="btn btn-outline-success mx-1 my-3 d-grid gap-2 col-4 linea">Cancelar</a>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Guardar Película</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            ¿Está seguro de que desea guardar la serie?
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button class="btn btn-outline-primary" type="submit" >Guardar</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}