{% extends 'clapperboardApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block tituloPagina %}
Inicio - CLAPPERBOARD
{% endblock %}

{% block contenidoPagina %}

<header class="text-center text-sm-center text-md-center text-lg-center text-xl-center text-xxl-center text-warning shadow d-flex masthead" style="background-image: url('media/banner/rBVaJFkgPkKAAXYHAALdbgBoZTk620.jpg');">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase"><strong class="text-warning"><span style="color: rgb(205, 255, 7);">CLAPPERBOARD</span></strong></h1>
                <hr style="padding-right: 0px;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;" class="pe-lg-0">
            </div>
        </div>
        <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5"><span style="color: rgb(205, 255, 7);">Series , películas, música, juegos.... Todo en un solo lugar.</span>
            <br><span style="color: rgb(205, 255, 7);">Las ultima noticias y reseñas están acá.&nbsp;</span></p>
        </div>
    </div>
</header>
<!-- Peliculas destacados section-->
<section class="bg-light py-5 ">
  {% for pelicula in peliculas %}
    <div class="row d-flex justify-content-center ">
      <div class="card" style="width: 18rem;">
        <img src="{{pelicula.imagen.url}}" class="card-img-top" alt="{{pelicula.titulo}}">
        <div class="card-body">
          <h5 class="card-title">{{pelicula.titulo}}</h5>
          <p class="card-text"> {{pelicula.subtitulo}} </p>
        </div>
        <div class="card-body">
          <a href="{% url 'PeliculaDetalle' pelicula.id %}" class="card-link">Ver Más</a>
          <a href="{% url 'peliculas' %}" class="card-link">Peliculas</a>
        </div>
      </div>
    </div>              
  {% endfor %}                
</section>
<!-- Series destacados section-->
<section class="bg-light py-5 ">
  {% for serie in series %}
    <div class="row d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="{{serie.imagen.url}}" class="card-img-top" alt="{{serie.titulo}}">
        <div class="card-body">
          <h5 class="card-title">{{serie.titulo}}</h5>
          <p class="card-text"> {{serie.subtitulo}} </p>
        </div>
        <div class="card-body">
          <a href="{% url 'SerieDetalle' serie.id %}" class="card-link">Ver Más</a>
          <a href="{% url 'series' %}" class="card-link">Series</a>
        </div>
      </div>
    </div>              
  {% endfor %}                
</section>

{% endblock %}