{% extends 'clapperboardApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block tituloPagina %}
Películas- CLAPPERBOARD
{% endblock %}

{% block contenidoPagina %}

    <header class="d-flex masthead" style="background-image: url( '/media/peliculas/banner.png')"></header>

    <section class="bg-light py-5">
        <div class="conteiner px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-12">
                    <form class="d-flex my-2 my-lg-0" action="" method="post">
                        {% csrf_token %}
                        <input class="flex-grow-0 form-control mr-sm-2" type="search" name="buscar" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline-danger text-nowrap ms-3 my-2 my-sm-0" type="submit"> <i class="bi bi-search"></i> Buscar</button>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <a class="btn btn-outline-danger text-nowrap ms-3 my-2 my-sm-0" href=" {% url 'nueva_pelicula' %} "> <i class="bi bi-plus-lg"></i> Crear Película</a>
                        {% endif %}
                    {% endif %}
                    </form>               
                </div>
            </div>
            <br>
            <h4>
                {% if buscar %}
                Resultado para "{{ busqueda }}":
                {% endif %}
            </h4>
        </div>
    </section>
    {% for pelicula in peliculas %}
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="card mb-3" style="max-width: 40rem;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        {% if pelicula.imagen %}
                           <img src="{{pelicula.imagen.url}}" class="img-fluid rounded-start my-3" alt="{{pelicula.titulo}}">
                        {% endif %}
                      </div>
                      <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title ">{{pelicula.titulo}}</h5>
                                <p class="card-text" >{{pelicula.subtitulo}}</p>
                                <br>
                                <br>
                                <br>
                                <a href="{% url 'PeliculaDetalle' pelicula.id %}" class="btn btn-outline-success">Ver más</a>
                                    {% if user.is_authenticated %}
                                        {% if user.is_superuser %}
                                            <a href=" {% url 'editar_pelicula' pelicula.id %} " class="btn btn-outline-warning"> <i class="bi bi-pencil-square"></i> Editar</a>
                                            <a href=" {% url 'eliminar_pelicula' pelicula.id %} " class="btn btn-outline-danger"> <i class="bi bi-trash"></i> Eliminar</a>
                                        {% endif %}
                                    {% endif %}
                                    <br>
                                    <br>
                                    <br> 
                                    <br> 
                                <div class="card-footer bg-transparent ">{{pelicula.fecha_publicacion}} <br>  Autor: {{pelicula.usuario}} </div>
                
                                <!-- <p class="card-text"><small class="text-muted"></small></p> -->
                            </div>
                      </div>
                    </div>
                </div>
            </div>
            
        </div>
           
    {% endfor %}
        
        
        
        
{% endblock %}
        

