{% extends 'clapperboardApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block tituloPagina %}
Detalle Pelicula- CLAPPERBOARD
{% endblock %}

{% block contenidoPagina %}
    <body class="display: flex flex-direction: column">
        <div class="row d-flex justify-content-center">
            
            <div class="card border-success my-2 mb-3" style="max-width: 50rem;">
                <div class="card-header bg-transparent border-success">{{pelicula.titulo}}</div>
                <div class="card-body text-success">
                <h5 class="card-title"> {{pelicula.titulo}}</h5>
                <p class="card-text"> {{pelicula.descripcion | safe}} </p>
                <a href="{% url 'peliculas' %}" class="btn btn-outline-success">Volver</a>
                </div>
                <div class="card-footer bg-transparent border-success">{{pelicula.fecha_publicacion}} <br>  Autor: {{pelicula.usuario}} </div>
        
            </div>
            
        </div>
    </body>

    


{% endblock %}